* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

a {
    color: #fff;
}

#background {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #101010;
}

#main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: monospace;
    color: #fff;
}

#pop {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 37px;
    cursor: pointer;
}

#pop path {
    fill: rgba(255,255,255,0.5);
}

#control {
    flex: 1;
    padding: 10px;
    background: #802020;
}

#qr {
    height: 40%;
    padding: 10px;
    background: #000;
}
