* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

a {
    color: #fff;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: monospace;
    color: #fff;
}

#fx {
    height: 60%;
    padding: 5px;
    background: #202020;
}

#qr {
    flex: 1;
    padding: 5px;
    background: #000;
}
