* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

a {
    color: #fff;
}

#background {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #808080;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: monospace;
    color: #fff;
}

#fx {
    flex: 1;
    padding: 10px;
    background: #802020;
}

#qr {
    height: 40%;
    padding: 10px;
    background: #000;
}
